* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 80vw;
    padding-top: 20px;
    background-color: pink;
    margin: auto;
}

.title {
    font-family: 'Fugaz One', cursive;
    font-size: 4em;
    text-align: center;
}

.hands {
    background-color: blueviolet;
    margin: auto;
    width: fit-content;
}

.player-one-hand, .player-two-hand {
    width: 250px;
}

.player-one-hand {
    transform: rotateY(180deg);
}

.buttons {
    height: fit-content;
    width: fit-content;
    background-color: brown;
    padding-bottom: 10px;
    margin: auto;
}
.rock, .paper, .sissors {
    padding: 10px;
    font-size: 2em;
    background-color: blueviolet;
    font-family: 'Fugaz One', cursive;
    margin-left: 10px;
    margin-right: 10px;
}

.chat {
    width: 80vw;
    height: 200px;
    background-color: chartreuse;
    margin: auto;
}

@media only screen and (max-width: 764px) {
    .title {
        font-size: 3.5em;
    }
    .game {
        width: 100vw;
    }    
}

@media only screen and (max-width: 611px) {
    .title {
        font-size: 3em;
    }
    .player-one-hand, .player-two-hand {
        width: 200px;
    }
}